.moji{
    color: #000000;
  }

  .nav-item{
    font-size: 20px;
    font-weight: bold;
  }
/* nameクラスの文字の大きさや太さ、位置配置、リンクの線を消すなど */
  .name{
    margin-right: 1em;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
  }

  /* aリンクのclassの名前がnameの場合カーソルを合わせると色が変わる */
  a.name:hover{
    color: #0000cd;
  }

  .thred-link{
    text-decoration: none;
    color: #000000;
  }
  a.thred-link:hover{
    color: #0000cd;
  }

  .zikan{
    margin-left: 5%;
  }
  .text{
     background-color: #ffffff; 
  }

  .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card{
    background-color: #dcdcdc;
  }